
* {
    margin: 0px;
}

h1, h2, h3, p, a {
    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.indexHeaderContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: lightblue;
}

.indexLogo {
    display: flex;
    align-items: center;
}

.indexLogo img {
    width: 120px;
}

.indexUtilities ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    list-style: none; 

    gap: 20px;
}

.indexUtilities ul li a{
    text-decoration: none;
    color: black;
}

.indexNavWorkCategories ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    list-style: none; 
    
    gap: 15px;

    background-color: cadetblue;
}

.indexNavWorkCategories ul li a{
    text-decoration: none;
    color: black;
}

.indexMain {
    display: flex;
    flex-direction: column;
}

.indexFeaturedContainer {
    background-color: aquamarine;

    margin: 35px;

    height: 40vh;
}

.indexFeaturedContent {
    background-color: beige;

    height: 100%;
}

.indexPopularServicesContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 35px;
}

.indexPopularServices {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.indexPopularServices article {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    padding: 0px 15px;

    background-color: cornflowerblue;
}

.indexPopularServices article img {
    width: 80px;
}

.indexExploreContainer {
    display: flex;
    flex-direction: column;
    margin: 35px;
    gap: 20px;
}

.indexExplore {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.indexExploreSellers section {
    display: flex;
    gap: 20px;
    background-color: burlywood;
    border-radius: 20px;

    padding: 20px;

    width: 40vw;
    height: 620px;
}

.indexExploreBuyers section {
    display: flex;
    gap: 20px;
    background-color: burlywood;
    border-radius: 20px;

    padding: 20px;

    width: 40vw;
    height: 620px;
}

.indexFAQContainer {
    display: flex;
    flex-direction: column;
    margin: 35px;
    gap: 20px;
}

.indexFAQ {
    display: flex;
    flex-direction: column;
}

.indexFAQ article {
    display: flex;
    align-items: center;
    background-color: lightgoldenrodyellow;
    border: 1px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: black;
    padding: 0px 20px;
    height: 60px;
    justify-content: space-between;
}

.indexFooterContainer {
    display: flex;
    justify-content: center;

    background-color: lightblue;
}
